﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gallery";
}

<body>
    <div
        <div id="gallery" class="view">
            <div class="mask rgba-black-strong">
                <div class="container-fluid d-flex align-items-center justify-content-center h-10">
                    <div class="row d-flex justify-content-center text-center" style="margin-top: 100px;">
                        <div class="col-md-12">
                            <h3 class="display-4 lime-text">
                                Автомобильная галерея
                            </h3>
                            <hr class="hr-light">
                        </div>
                    </div>

                </div>
                <div class="container align-items-center justify-content-center">
                    <div class="row mt-2 align-items-center " style="justify-content: space-between;">
                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/tesla2.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">Tesla Model X</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">Tesla Model X 100D 4x4 2017г электромобиль  </p>
                                        <a href="#tesla2" class="dark lime-text d-flex justify-content-end" data-toggle="modal" data-target="#tesla2">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/fiat.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-black-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">Fiat Panda</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">Fiat Panda 2009г Двигатель: 1.2 Бензин</p>
                                        <a href="#!" class="dark lime-text d-flex justify-content-end">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/honda.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">Honda Cr-v</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">Honda Cr-v 4x4 2006г Двигатель: 2.2 Дизель </p>
                                        <a href="#!" class="dark lime-text d-flex justify-content-end">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/volvo.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">Volvo XC90</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">Volvo XC90 4x4 2017г Двигатель: 2.0 Дизель </p>
                                        <a href="#!" class="dark lime-text d-flex justify-content-end">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 align-items-center justify-content-around">
                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/lexus.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">Lexus LX-570</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">Lexus LX-570 4x4 2016г Двигатель: 4.5 Дизель </p>
                                        <a href="#!" class="dark lime-text d-flex justify-content-end">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/Mercedes.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">Mercedes GLS</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">Mercedes GLS 4x4 2019г Двигатель: 3.0 Дизель</p>
                                        <a href="#!" class="dark lime-text d-flex justify-content-end">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-2">
                            <div class="card" style="width: 125%">
                                <div class="card">
                                    <div class="view overlay">
                                        <img class="card-img-top" style="width: 250px; height: 100px; object-fit: cover;" src="~/img/BMW.jpg"
                                             alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body elegant-color white-text rounded-bottom">
                                        <h4 class="card-title dark lime-text">BMW X7</h4>
                                        <hr class="hr-light">
                                        <p class="card-text dark lime-text mb-4">BMW X7 4x4 2019г Двигатель: 3.0 Бензин</p>
                                        <a href="#!" class="dark lime-text d-flex justify-content-end">
                                            <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="tesla2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centelime " role="document">
                    <div class="modal-content">
                        <div class="modal-header align-items-center justify-content-center">
                            <h5 class="modal-title" id="exampleModalLongTitle"> <img class="" style=" width: 300px; height: 150px;" src="~/img/tesla2.jpg" alt="Card image cap"></h5>
                        </div>
                        <div class="modal-body">
                            Tesla Model X - полноразмерный электрический кроссовер производства компании Tesla. Прототип был впервые показан в Лос-Анджелесе 9 февраля 2012 года. Коммерческие поставки начались 29 сентября 2015 года. Tesla Model X разрабатывается на базе платформы Tesla Model S и собирается на основном заводе компании во Фримонте, штат Калифорния.
                            <p></p>
                            <p>Комплектация</p>
                            <p>
                                Автомобиль доступен в трех спецификациях:

                                Модель 75D, где D означает Dual Motor, т.е. в базовой комплектации автомобиль оснащен двумя электродвигателями. Цифра 75 относится к ёмкости батареи и составляет 75 кВт*ч.
                                Модель 90D комплектуется двумя двигателями и разгоняется до 100 км/ч за 4,8 секунды, что на 0,1 секунды быстрее 440-сильного внедорожника Porsche Cayenne GTS[3].
                                Модель P90D укомплектована двумя электродвигателями общей мощностью 772 лошадиных сил: 259 л.с. на передней оси и 503 л.с. на задней. С места до 100 км/ч разгоняется за 3,8 секунды, а с дополнительным пакетом Ludicrous Speed Upgrade – за 3,2 секунды[4]. Эта модель быстрее, чем Lamborghini Gallardo LP570-4 или McLaren MP4-12C.
                            </p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>